.color{
    background-color: orange;
    height: 70px;
    text-align: center;
    margin-bottom: 10px;
    border: white solid 5px
}
.color1{
    background-color: orange;
    height: 70px;
    text-align: center;
    margin-bottom: 10px;
    border: white solid 5px
}
.color2{
    background-color: yellow;
    height:200px;
    text-align: center;
    margin-bottom: 10px;
    border: white solid 5px
}
.color3{
    background-color: blue;
    height: 150px;
    text-align: center;
    margin-bottom: 10px;
    border: white solid 5px
}
.color4{
    background-color: blue;
    height: 150px;
    text-align: center;
    margin-bottom: 10px;
    border: white solid 5px
}
.color5{
    background-color: blue;
    height: 150px;
    text-align: center;
    margin-bottom: 10px;
    border: white solid 5px
}
.color6{
    background-color: gray;
    height: 100px;
    text-align: center;
    margin-bottom: 10px;
    border: white solid 5px
}
.color7{
    background-color: gray;
    height: 100px;
    text-align: center;
    margin-bottom: 10px;
    border: white solid 5px
}
.color8{
    background-color: gray;
    height: 100px;
    text-align: center;
    margin-bottom: 10px;
    border: white solid 5px
}
.color9{
    background-color: gray;
    height: 100px;
    text-align: center;
    margin-bottom: 10px;
    border: white solid 5px
}

